**/.direnv

**/.vscode
**/.cache
**/session-cookie

**/build
**/compile_commands.json

**/input.txt
**/input/*.txt

**/DayInput.hpp
**/perf.data*

**/include/Input/*.hpp
!**/include/Input/DayN.hpp

!**/DayTemplate/include/DayInput.hpp